@import "./reset.scss";
@import "./status-bar.scss";

body {
  background-color: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: white;
  border: 3px solid rgba($color: black, $alpha: 0.9);
  border-radius: 50px;
  height: 55%;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
  overflow: scroll;
}

.header {
  overflow-x: scroll;
  padding: 2px 0px;
  .header__list {
    display: flex;
    gap: 10px;
    color: black;
    width: max-content;
    .header__list-item {
      border: 1px solid rgba($color: black, $alpha: 0.9);
      padding: 10px;
      border-radius: 20px;
      &:nth-child(1):hover {
        background-color: black;
        color: white;
      }
      &:nth-child(2):hover {
        background-color: #ff5050;
        opacity: 0.9;
        color: white;
      }
      &:nth-child(3):hover {
        background-color: #fff064;
        opacity: 0.9;
        color: white;
      }
      &:nth-child(4):hover {
        background-color: #f8fcb5;
        opacity: 0.9;
        color: white;
      }
      &:nth-child(5):hover {
        background-color: #b19ff6;
        opacity: 0.9;
        color: white;
      }
      &:nth-child(6):hover {
        background-color: #fed3d3;
        opacity: 0.9;
        color: white;
      }
      &:nth-child(7):hover {
        background-color: #d0fedf;
        opacity: 0.9;
        color: white;
      }
    }
  }
}

.cards {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: max-content;
  .call__card {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    .card__title {
      font-size: 28px;
    }
    .card__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        border-radius: 20px;
        padding: 5px 10px;
        border: 1px solid black;
      }
      .price {
        opacity: 0.7;
        font-size: 15px;
        &:hover {
          background-color: white;
        }
      }
      .length {
        opacity: 0.7;
        font-size: 15px;
        &:hover {
          background-color: white;
        }
      }
    }
    &:first-child{
      background-color: #ff5050;
      border: 1px solid black;
    }
    &:nth-child(2) {
      background-color: #fff064;
      border: 1px solid black;
    }
    &:nth-child(3) {
      background-color: #f8fcb5;
      border: 1px solid black;
    }
    &:nth-child(4) {
      background-color: #b19ff6;
      border: 1px solid black;
    }
    &:nth-child(5) {
      background-color: #fed3d3;
      border: 1px solid black;
    }
    &:nth-child(6) {
      background-color: #d0fedf;
      border: 1px solid black;
    }
    &:nth-child(1n){
      grid-column: span 2;
    }
  }
}